  <div class="container p-5">
    <div class="row">
      <div class="col">
        <div class="cabeceraform">
          <h2>Registrar {{typeUser}}</h2>
        </div>
        <br>

        <div class="form">

          <form >
            <div class="mb-3">
              <label for="idTecnico" class="form-label labelTecnico" >Tipo de documento</label>
              <select name="" id="" class="form-control">
                <option value="">Seleccionar --</option>
                <option value="">CC</option>
                <option value="">TI</option>
                <option value="">Cédula extrajera</option>
            </select>
            </div>
            <div class="mb-3">
              <label for="idServicio" class="form-label labelServicio">Documento</label>
              <input type="text" class="form-control" id="idServicio"  required />
            </div>
            <div class="mb-3">
              <label for="idServicio" class="form-label labelServicio">Nombre completo</label>
              <input type="text" class="form-control" id="idServicio"  required />
            </div>

            <button type="submit" class="btn btn-info"  >Enviar</button>
          </form>
        </div>
      </div>
      <div class="col">
        <!-- <img [src]="myImage" alt="" srcset=""> -->
      </div>
    </div>
  </div>

