<div class="container p-5">
  <h1>Registro de usuarios - En desarrollo</h1>
  <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Técnico</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Cliente</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <app-register-user typeUser="Técnico"></app-register-user>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <app-register-user typeUser="Cliente"></app-register-user>
      </div>
    </div>
</div>

<!-- <div class="container">
  <div class="row justify-content-md-center">
  </div>
  <div class="row">
  <div class="row justify-content-md-center">
    <div class="col">
      <h2>Tecnico</h2>

    </div>
    <div class="col-md-auto">

    </div>
    <div class="col">
      <h2>Cliente</h2>

    </div>
  </div>
  </div> -->
